.stakes-casino-review-container {
  padding: 20px 10px 20px 10px;
  background: linear-gradient(to right, #0e112b, #1e2356);
  color: #ffffff;
  overflow-y: hidden;
}

.stakes-banner {
  background: #020b21;
  border-radius: 12px;
}

.stakes-banner .stakes-banner-title {
  font-family: "Barlow", Sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 55px 10px 0 0;
}

.stakes-banner button {
  background-color: #f4205f;
  color: #ffffff;
  font-weight: bold;
}

.stakes-banner button:hover {
  background-color: #f4205f;
}

.stakes-banner p {
  font-family: "Barlow", Sans-serif;
  font-size: 16px;
  color: #d61f5a;
  font-weight: bold;
  text-align: center;
}

.stakes-banner img {
  border-radius: 12px;
}

.stakes-review,
.rating-etc,
.stakes-logo {
  background-color: #08213f;
  border-radius: 12px;
}

.rating-etc {
  margin-top: 15px;
  padding: 10px;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  color: #ffe6e6;
  font-weight: bold;
}

.stakes-review {
  margin-top: 15px;
  padding: 10px;
}

.stakes-review .stakes-review-title {
  font-size: 30px;
  font-family: "Barlow", Sans-serif;
  font-weight: bold;
  text-align: center;
  color: #f4205f;
}

.stakes-review .stakes-review-info {
  font-family: "Barlow Condensed", Sans-serif;
  font-size: 16px;
}

.stakes-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stakes-logo h2 {
  display: flex;
  align-items: center;
  font-family: "Roboto", Sans-serif;
  font-size: 50px;
  color: #ffffff;
  padding: 50px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.stakes-logo img {
  width: 100%;
  height: 100%;
}

/* StakeCasinoReview Card*/
.back-to-back .card {
  padding-top: 60%;
  position: relative;
  width: 100%;
  background-color: #08213f;
  cursor: pointer;
  perspective: 1500px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  position: relative;
  cursor: pointer; /* Indicates that the card is interactive */
}

.back-to-back .card:hover {
  transform: rotateY(180deg);
}

.back-to-back .card-front,
.back-to-back .card-back {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: space-around; /* Space between the children */
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #08213f;
}

.back-to-back .card-front {
  z-index: 2;
}

.back-to-back .card-back {
  transform: rotateY(180deg);
  color: #ffffff;
}

/* The rest of your styles remain the same */
.back-to-back img {
  width: 30%;
}

.back-to-back .card-title {
  font-family: "Roboto", Sans-serif;
  font-size: 23px;
  color: #ffffff;
  font-weight: bold;
  background-color: #ff173d;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.details-table {
  border-collapse: collapse;
  width: 100%;
}

.details-table td {
  border: none;
  text-align: center;
  line-height: 1;
  padding: 2px 15px 2px 15px;
}

.no-flip:hover {
  transform: none !important;
}

.stakes-casino-review-container .modal-content {
  background-color: #08213e !important;
}

#noFlipModal td {
  padding: 10px;
}

@media (min-width: 1400px) {
  .stakes-banner .stakes-banner-title {
    padding-top: 100px;
  }
  .back-to-back img {
    margin-top: 5px;
  }
}

@media (max-width: 1400px) {
  .back-to-back img {
    margin-top: 35px;
  }
  .back-to-back .card {
    padding-top: 80%;
  }
  .details-table td {
    border: none;
    text-align: center;
    line-height: 1;
    padding: 3px 8px 3px 8px;
  }
}
/*  */
@media (max-width: 1200px) {
  .back-to-back img {
    margin-top: 35px;
  }
  .back-to-back .card {
    padding-top: 80%;
  }
  .details-table td {
    padding: 3px 8px 3px 8px;
  }
}

@media (min-width: 1143px) and (max-width: 1200px) {
  .stakes-banner .stakes-banner-title {
    padding-top: 70px;
  }
}

@media (max-width: 991px) {
  .stakes-banner .stakes-banner-title {
    padding-top: 80px;
    font-size: 25px;
  }
  .stakes-banner p {
    font-size: 25px;
  }
  .back-to-back img {
    margin-top: 10px;
  }
  .back-to-back .card {
    padding-top: 57%;
  }
  .details-table td {
    padding: 3px 20px 3px 20px;
  }
}

@media (max-width: 767px) {
  .stakes-banner button {
    margin-top: -10px;
  }
  .stakes-banner .stakes-banner-title {
    padding: 2px 5px 0 5px;
  }
  .back-to-back img {
    margin-top: 40px;
    width: 20%;
  }
  .back-to-back .card {
    padding-top: 45%;
  }
  .details-table td {
    padding: 3px 50px 3px 50px;
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .stakes-logo img {
    margin-top: -40px;
    padding: 0 20px;
  }
  .stakes-logo h2 {
    display: block;
    margin-top: -30px;
  }
  .back-to-back img {
    margin-top: 20px;
    width: 30%;
  }
  .back-to-back .card {
    padding-top: 65%;
  }
  .details-table td {
    padding: 2px 10px 2px 10px;
    font-size: 20px;
  }
  #noFlipModal td {
    padding: 5px;
  }
}
